.stock-container {
    padding: 2%;

    .import-panel{
        display: flex;
        flex-direction: row;
        h2 {
            margin:0;
        }
    }

    .import-button {
        display:none;
    }
}