<div class= "read-me-container">
       <h2>Witaj w moim zadaniu próbnym</h2>
       <p>Na wstępie chciałem pokazać jakich technologi użyłem i dlaczego</p>
       <ul>
           <li>Aplikacja została napisana w Angularze 9 jest to framework, którego używam w pracy oraz
                w projektach, które tworze for fun (możesz przeczytać o niektóych z nich w artykułach 
                na medium mojego autorstwa, które znajdują się w moim CV).</li>
           <li>Aby ułatwić sobie życie użyłem biblioteki komponentów angular material, która jednym poleceniem stworzyła dla mnie szkielet górnej belki oraz
                responsywnego menu bocznego.</li>
           <li>W celu grupowania użyłem często używanej biblioteki lodash.</li>
           <li>Aplikacja posiada separacje komponentów (komponent importer oraz komponent viewer) oraz separacje logiki w serwisie stock importer.</li>
           <li>Dzięki takiej separacji kod jest wysoce testowalny (nie tworzyłem żadnych testów oprócz automatycznnie tworzonych przez cli angularowe )</li>
           <li>W katalogu data możesz znaleść 2 testowe pliki na których testowałem aplikację</li>
       </ul>
</div>
